{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Сайт #{{ url.id }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered" data-test="url">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ url.id }}</td>
                    </tr>
                    <tr>
                        <th>Имя</th>
                        <td>{{ url.name }}</td>
                    </tr>
                    <tr>
                        <th>Дата добавления</th>
                        <td>{{ url.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('urls_list') }}" class="btn btn-secondary">К списку сайтов</a>
    </div>
</div>
{% endblock %}
