{% extends "base.html" %}

{% set page_title = "Сайты" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Сайт https://{{ url.name }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered" data-test="url">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ url.id }}</td>
                    </tr>
                    <tr>
                        <th>Имя</th>
                        <td>{{ url.name }}</td>
                    </tr>
                    <tr>
                        <th>Дата создания</th>
                        <td>{{ url.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ url_for('urls_list') }}" class="btn btn-secondary">К списку сайтов</a>

        <h2 class="mt-4">Проверки</h2>
        <button type="button" class="btn btn-primary mb-3">Запустить проверку</button>

        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Код ответа</th>
                        <th>h1</th>
                        <th>title</th>
                        <th>description</th>
                        <th>Дата создания</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
