{% extends "base.html" %}

{% set page_title = "Сайты" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" data-test="urls">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Последняя проверка</th>
                        <th>Код ответа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                    <tr>
                        <td>{{ url.id }}</td>
                        <td>
                            <a href="{{ url_for('urls.show_url', url_id=url.id) }}">https://{{ url.name }}</a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
